<footer class="page-footer yellow black-text">
        <div class="container ">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="black-text">Dr. Mobile247</h5>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="black-text">Social Links</h5>
              <ul>
                <li><a class="blue-text text-darken-2" href="#!">Facebook</a></li>
                <li><a class="black-text" href="#!">Google</a></li>
                <li><a class="blue-text" href="#!">Twitter</a></li>
                <li><a class="pink-text" href="#!">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black-text">
          <div class="container">
          © 2018 Copyright Text
          </div>
        </div>
      </footer>