<!-- 
  <!DOCTYPE html>
  <html>
    <head>
      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="yellow black-text" style="font-family: 'Raleway', sans-serif;"> -->
        <!-- <script type="text/javascript">
        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
     
        </script> -->

            <!-- <nav class="black-text yellow">
                    <div class="nav-wrapper black-text">
                      <a href="#" class="brand-logo  black-text" style="margin-left:10%;">Dr. Mobile 247</a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down black-text">
                        <li><a href="#" class="black-text">Home</a></li>
                        <li><a href="#subscribe" class="black-text">Subscribe</a></li>
                        <li><a href="/home/registration/" class="black-text modal-trigger">Register</a></li>
                      </ul>
                    </div>
            </nav> -->
            {% include 'base.html' %}
            {% block content %}
            <br>
            <br>
            <center>
                <h5 style="font-family: 'Montserrat', sans-serif; ">COMING SOON</h5>
               <p style="font-family: 'Montserrat', sans-serif; font-weight:bolder; font-size:100px;">Dr Mobile<br>247</p>
            </center>
            <br><br><br>
            <div style="background-color:white;">
                    <center class="container" style="padding:5px;">
                            <h3>About Dr.Mobile247</h3>
                            <p style="font-size:17px;">
                                    Dr.Mobile 247  is a stratup whose aim to repair the cell phone in low cost and We are team of passionate service engineer who wants to revolutionize the mobile repairs industry by making your mobile repairs service process as smooth as your purchase of new mobile.We believe in our service quality, so we also provide service warranty.
                            </p>
                            <p style="font-size:30px;">
                                    Subscribe to be the first to know about our launch
                            </p>
                            <p style="font-size:20px;">
                                    DrMobile247<br>
                                    2nd Floor<br>
                                    Ambuja mall<br>
                                    Ph:-7697 247 247<br>
                                    E-mail-team@strategyaz.com<br>
                            </p>
                    </center>
            </div>

            {% include 'footer.html' %}
            
            <!-- <footer class="page-footer yellow black-text">
                    <div class="container ">
                      <div class="row">
                        <div class="col l6 s12">
                          <h5 class="black-text">Dr. Mobile247</h5>
                        </div>
                        <div class="col l4 offset-l2 s12">
                          <h5 class="black-text">Social Links</h5>
                          <ul>
                            <li><a class="blue-text text-darken-2" href="#!">Facebook</a></li>
                            <li><a class="black-text" href="#!">Google</a></li>
                            <li><a class="blue-text" href="#!">Twitter</a></li>
                            <li><a class="pink-text" href="#!">Instagram</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-copyright black-text">
                      <div class="container">
                      © 2018 Copyright Text
                      </div>
                    </div>
                  </footer> -->
            
                  {% endblock content %}
                  
         <!-- Modal Structure -->
            <!-- <div id="register" class="modal">
                <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>     -->
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    </body>
  </html> -->
        