    {% include 'base.html' %}
<script>
        function FormValidate(){
                var name = $("#name").val();
                var mobile = $("#mobile").val();
                var model = $("#model").val();
                var pincode = $("#pincode").val();
                var company = $("#company").val();

                var regexpname = /^[a-zA-Z ]+$/;
                var regexpmob = /^[0-9]{10}$/;        
                var regexppin = /^[0-9]{6}$/;        

                if(!regexpname.test(name)){
                        Materialize.toast('Enter correct name', 4000);
                }
                if(!regexpmob.test(mobile)){
                        Materialize.toast('Enter correct mobile number', 4000);
                }
                if(!regexppin.test(pincode)){
                        Materialize.toast('Enter correct pincode', 4000);
                }
                if(model.val()==""){
                        Materialize.toast('Enter a model', 4000);       
                }
                else{
                        
                }
        }
</script>
<div class="container" style="padding-top:3%;">
        <center><h3>Registration</h3></center>
        <div class="card">
                <div class="card-content">
                        <form action="/home/register/" method="POST">
                                
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name">

                                <label for="mobile">Mobile Number</label>
                                <input type="text" name="mobile" id="mobile">

                                <label for="modelname">Model</label>
                                <input type="text" name="model" id="modelname">

                                <label for="pincode">Pin code</label>
                                <input type="text" name="pincode" id="pincode">

                                <label for="company">Company</label>
                                <select name="company" id="company">
                                        {% for obj in company %}
                                    <option value="{{ obj.company }}">{{ obj.company }}</option>
                                        {% endfor %}
                                </select>
                                <br>
                               <center>
                                        <button class="btn orange" onclick="FormValidate()">Register</button>
                               </center>
                        </form>
                </div>
            </div>  
</div>
<br>

{% include 'footer.html' %}